@media (max-width:500px) {
    .nav .nav-content {
        z-index: 5;
    }

    .main {
        z-index: 5;
    }

    .hero {
        position: relative;
        top: -10vh;
        margin: 0 auto;
        min-height: 100vh;
        max-width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: url(/content/gulf.svg);
        background-size: cover;
        background-position: center;
    }

    .role {
        margin-left: 3vh;
    }

    .hero .hero-content {
        margin: 0 auto;
        display: grid;
        max-width: 700px;
        height: 50vh;
        gap: 3vh;
        margin-top: 10vh;
        align-items: center;
    }

    .hero-profile {
        margin: 0 auto;
        display: flex;
        width: 30vh;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero-details {
        margin: 0 auto;
        display: flex;
        width: 40vw;
        max-width: 30vw;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero-img {
        width: 30vh;
        height: 30vh;
        background-color: forestgreen;
        border-radius: 50%;
    }

    .social-media{
        min-width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-left: 2vh;
    }

    .itachi {
        visibility: visible;
        display: flex;
        position: fixed;
        bottom: 30px;
        left: 5px;
        width: 120px;
        height: 150px;
        opacity: 1;
        transition: all 0.5s linear;
        animation: fade 1.5s;
    }

    @keyframes fade {
        to {
            transform: translateY(-21px);
        }

        from {
            opacity: 0;
            transform: translateX(-2px);
        }
    }

    .itachi img {
        height: 200px;
        width: 200x;
    }

    .education-details {
        margin: 0 auto;
        display: block;
        max-width: 95vw;
        min-height: 90vh;
        justify-content: center;
        align-items: center;
        background-image: url(/content/tech.png);
    }

    .book-icon {
        margin: 0 auto;
        display: flex;
        max-height: 50vh;
        max-width: 50vw;
        align-items: flex-end;
        justify-items: right;
        transition: all 2s;
    }
    .book-icon img{
        width: 500px;
    }
}